.pos-rel {
  position: relative;
}

.pos-ab {
  position: absolute;
  top: 8em;
}

html {
  background-color: #87cefa;
}

h1, h2 {
  font-family: Oswald, sans-serif;
  opacity: .5;
  color: #fff;
}

p {
  font-family: Lora, serif;
  color: #fff;
}

.f {
  transform: rotate(-15deg);
  left: .25em;
}

.l {
  transform: rotate(10deg);
  left: .75em;
  top: .25em;
}

.y {
  transform: rotate(-12deg);
  left: 1.25em;
}

.a {
  transform: rotate(10deg);
  top: 4.75em;
  left: -1em;
}

.w {
  transform: rotate(-15deg);
  top: 4.2em;
  left: -.95em;
}

.a2 {
  transform: rotate(-20deg);
  top: 3.25em;
  left: 1.65em;
}

.y2 {
  transform: rotate(18deg);
  top: 2.75em;
  left: 1.75em;
}
